{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;700&family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/slide_category.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/pages.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/dropdown.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/fonts.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="shortcut icon" href="{% static 'css/img/logo.png' %}" type="image/png">
    <link rel="apple-touch-icon" href="{% static 'css/img/logo.png' %}">
    <link rel="icon" href="{% static 'css/img/logo.png' %}" type="image/png"> {% block title %}
    <title>About Us | Zinago </title>
    {% endblock title %}
    <meta name="author" content="Emeka Casper Onwuepe " />
    <meta name="description" content="A Human Resource and legal firm dedicated to providing professional legal and HR Consulting Services and evolving Recruitment Solutions that help our customers become more productive and profitable." /> {% block keywords %}
    <meta name="keywords" content="Consulting, Human Resources, Recruitment,law firm, Abuja, Abuja law firm, Services" /> {% endblock keywords %}
    <meta name="author" content="Emeka Casper Onwuepe " />
    <meta property="og:url" content="{{request.build_absolute_uri}}" />
    <meta property="og:type" content="service" />
    <meta property="og:title" content="Zinago HR and Legal Services" />
    <meta property="og:description" content="A Human Resource firm dedicated to providing professional HR Consulting Services and evolving Recruitment Solutions that help our customers become more productive and profitable." />
</head>

<body>
    <div class="bigwrapper">
        <header>
            <section class="logo">
                <a href="{% url 'frontview:homeView' %}"> <img class="logo" src="{% static 'css/img/logo.png' %}" alt="logo"></a>
            </section>
            <nav>
                {% include './homenav.html' %}
            </nav>
            {% include './dropdown.html' %}
        </header>
        <div class="sperator"></div>
        <main>
            <h1>ABOUT US</h1>
            <div class="growth_img_div">
                <img class="growth_img" src="{% static 'css/img/legal.jpeg' %}" alt="legal">
            </div>
            <div class="abouttext">
                <p>Zinago is a law and human resources firm that provides unmatched professional services to establishments, employers, and employees. We lessen the burden on the employer by helping them maximize the efficiency of employees leading to higher
                    productivity levels. We are a professional, enthusiastic and innovative team, dedicated to providing professional HR Consulting Services and evolving recruitment, training, and employee management solutions that help our customers
                    become more profitable. Your most valuable resources are your employees.</p>
                <p>Our legal services include:</p>
                <ul>
                    <li>Business Affair</li>
                    <li>Debt and Asset Recovery</li>
                    <li>Pensions, Employment and Labour Laws</li>
                    <li>Family and Matrimonial Law</li>
                    <li>Intellectual Property - Patents, Copyrights and Trademark Registration</li>
                    <li>Company Commercial - Formations, Regulatory and Corporate Governance including Company Secretarial Services</li>
                    <li>Real Estate - Purchase, Leasing and Management of Properties</li>
                </ul>
                <p>Our HR objective is to add value to the organizations we operate, as we capture every aspect and specialism of the profession and look at the underpinning skills, behavior, and knowledge that are needed to be successful. Our HR Profession
                    Map focuses on levels of competence. We try not to constrain the development of an HR professional by the job level at which they are operating.</p>

                <section class="legal">
                    <h3>Our Functionality to Organizations</h3>

                    <div class="flex-container legal">
                        <div class="flex_item">The structure, constitution and powers of the organization.</div>
                        <div class="flex_item">Supporting The Delivery of Organization Objectives.</div>
                        <div class="flex_item">Induction and evaluation of training for board and committee members.</div>
                        <div class="flex_item">Compliance with regulatory requirements for reporting and audits.</div>
                        <div class="flex_item">Building organization capability.</div>
                        <div class="flex_item">Performance Management.</div>
                        <div class="flex_item">Contribution to change.</div>
                        <div class="flex_item">Developing careers and skills.</div>
                        <div class="flex_item">Effective HR administration.</div>
                    </div>
                </section>


            </div>
            <section style="margin-top: 0px;" id="services" class="services">
                <h2>Our Human Resource Services</h2>
                <div class="flex-container">
                    <div class="service">
                        <h3>Recruitment</h3>
                        <p>We are experienced in sourcing and recruiting qualified candidates who are a good fit for your company.</p>
                    </div>
                    <div class="service">
                        <h3>Training & Skills Development</h3>
                        <p>We conduct skills audits & inform management on the skills gaps discovered during the audit and identify trainings bridge those gaps.</p>
                    </div>
                    <div class="service">
                        <h3>Regulatory Compliance</h3>
                        <p>We work with our client's management to ensure your company is fully compliant with all relevant regulations such as The Labour Act, The factories Act, The National Industrial Court Act, Employee Compensation Act, Pension Reform
                            Act, The Constitution of The Federal Republic of Nigeria, etc</p>
                    </div>
                    <div class="service">
                        <h3>H.R Documents</h3>
                        <p>We will set up employee files, and ensure employees have job contracts, job descriptions and ensure that all the necessary HR policies are in place and are up to date.</p>
                    </div>
                    <div class="service">
                        <h3>Employee/Staff Audits</h3>
                        <p> We assess labour issues; compile up to date records of employees and identify ghost workers on the payroll.</p>
                    </div>
                    <div class="service">
                        <h3>HR Audits</h3>
                        <p>We conduct a comprehensive audit to review current human resources policies, procedures documentation and systems. We identify needs for improvement and enhancement of the HR functions and give a detailed report on findings.</p>
                    </div>
                    <div class="service">
                        <h3>Reviewing and Drafting of Contracts</h3>
                        <p>We help in reviewing, drafting employment contract & Agreement, non-Disclosure Agreement, Director’s Severance, employment policy and Staff Handbook.</p>
                    </div>
                    <div class="service">
                        <h3>Labour and Employee Relations</h3>
                        <p>We will assist management and employees with any labour related issues, including representation in the National Industrial Court and advising on the best labour practices.</p>
                    </div>
                    <div class="service">
                        <h3>Arbitration</h3>
                        <p>Dispute arising from Agreement where there is an Arbitration clause or where parties have agreed that dispute should be resolved by Arbitration.</p>
                    </div>
                    <div class="service">
                        <h3>Human Resources Information System</h3>
                        <p> We help install HR software solution, that can help maintain, manage and process detailed employee information and human resources related policies and procedures.</p>
                    </div>
                    <div class="service">
                        <h3>Compensation Management</h3>
                        <p>We would help in managing, analyzing, and determining the salary, incentives & benefits for each of your employee. Our aim is to attract, retain and engage employees by offering broad and competitive compensation plans within the
                            company budget
                        </p>
                    </div>
                </div>
            </section>
{% include './contactus.html' %}
            
        </main>
        <div onclick="window.scrollTo({top: 0, behavior:'smooth'})" id="backToTop" class="backToTop">
            <a onclick="window.scrollTo({top: 0, behavior:'smooth'})">&#10094;</a>
        </div>
        <footer>
            {% block footer %}
            <footer>
                <p id="footer"> Copyright &copy;
                    <span id="footerdate" style="padding: 0%"></span>. All rights reserved. www.zinagohrsolutions.ng
                </p>
            </footer>
            {% endblock footer %}
        </footer>
    </div>
    {% block javascript %}
    <script src="{% static 'javascript/home.js' %}"></script>
    {% endblock javascript %}
</body>

</html>