{% load static %}
<section id='contact' class="contact_us">
    <h3 class="contact_head">Contact Us</h3>
    <div class="contact_flex">
        <div class="mapbox-iframe">
            <iframe class="map-frame" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3940.1337140035735!2d7.4633441000000005!3d9.051565799999997!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x104e0b144783fe1d%3A0xcc71797e6701d35c!2s45%20Nouakchott%20St%2C%20Wuse%20904101%2C%20Abuja!5e0!3m2!1sen!2sng!4v1654810197135!5m2!1sen!2sng"
                height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="write_ups">
            <div>
                <h4>Open Hours</h4>
                <p> Monday - Saturday: 8AM - 6PM</p>
            </div>

            <div>
                <h4>Call</h4>
                <p>Phone:
                    <a href="tel:+2348188850051">08188850051</a>
                </p>
            </div>

            <div>
                <h4>Email</h4>
                <p>info@zinago.ng</p>
            </div>

            <div>
                <h4>Visit Us</h4>
                <p>45 Nouakchott Street,
                    <br/> Wuse Zone 1,
                    <br/> Abuja Nigeria</p>
            </div>

            <div id='socials'>
                <a href=""><img class="facebook" src="{% static 'css/social/facebook.png' %}" alt="facebook" /></a>
                <a href=""><img class="instagram" src="{% static 'css/social/instagram.png' %}" alt="instagram" /></a>
                <a href=""><img class="twitter" src="{% static 'css/social/twitter.png' %}" alt="twitter" /></a>
                <a href=""><img class="whatsapp" src="{% static 'css/social/whatsapp.png' %}" alt="whatsapp" /></a>
            </div>
        </div>
    </div>

</section>