<section id="dropdown">
    <a href="javascript:void(0)" onclick="showNot()" id="close" class="close">&times;</a>
    {% comment %} <div id="1_" class="drops navdiv">
        <a class="link" href="#">Services</a>
        <div class="dropdown_1">
            <a class="link" href="{% url 'frontview:legalView' %}">Legal</a>
            <a class="link" href="{% url 'frontview:hrView' %}">Human Resource</a>
        </div>
    </div> {% endcomment %}
    {% if sorted_sections %}
    <div id="2_" class="drops navdiv">
        <a class="link" href="#">Jobs</a>
        <div class="dropdown_2">
            {% for section in sorted_sections %}
            <a class="link" href="{% url 'frontview:sectionView' section %}">{{section}}</a> {% endfor %}
        </div>
    </div>
    {% endif %}
    <div class="navdiv">
        <a class="link" href="#contact">Contact</a>
    </div>
    <div class="navdiv">
        <a class="link" href="{% url 'frontview:aboutView' %}">About</a>
    </div>
    {% if articles %}
    <div class="dropdown_nav">
        <h3 id="">
        {{section}} Job Posts</h3>
        <input type="text" id="SearchInput2" onkeyup="SearchFunction2()" placeholder="Search posts" id="myInput2">
        <ul id="sideNavUL2">
            {% for article in articles %}
            <li><a class="a" href="{% url 'frontview:articleView' article.id article.title_slug %}">{{article}}</a></li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
</section>