{% extends 'home/homeview.html' %} {% block meta_tags %} {% load static %}
<title>Page not Found</title>
{% endblock meta_tags %} {% block sideNav %}

{% if articles %}
<h3 id=""><a href="{% url 'frontview:sectionView' section %}">
    {{section}} JOB POSTS</a></h3>
<input type="text" id="SearchInput" onkeyup="SearchFunction()" placeholder="Search posts" id="myInput">
<ul id="sideNavUL">
    {% for article in articles %} 
    <li><a class="a" href="{% url 'frontview:articleView' article.id article.title_slug  %}">{{article}}</a></li>
     {% endfor %}
</ul>
{% else %}
<h3 id="">{{section}} Job Posts</h3>
<p>No vacancies at the moment</p>
{% endif %}
    

{% endblock sideNav %} {% block mainHeading %}
<div id="mainhead" class="mainhead">
    <h1 id="mainHeading">Post not found</h1>
</div>
{% endblock mainHeading %} {% block main %}
<article class="article">
    <p>The post you seek seems to be under review. Please, check back later.</p>
</article>
{% endblock main %} {% block ads %} {% endblock ads %} {% block mostviewed %}
{% if mostviewed %}
<h2>Most Viewed Job Posts</h2>
<div id="" class="articleInnerBox">

    {% for article in mostviewed %}
    <section class="articleDisplayBox">
        <h3><a href="{% url 'frontview:articleView' article.id article.title_slug %}">{{article}}</a></h3>
        <!-- {% if article.image %}
        <img class="" src="{{article.image.url}}" alt="{{article.image_description}}">{% endif %} -->
        <p>{{article.bodySnippet|safe}}</p>
        <p class="pub_date"> {{article.mod_date}}</p>
    </section>
    {% endfor %}
</div>
{% endif %} 
{% endblock mostviewed %} {% block news %}{% include './contactus.html' %} {% endblock news %}