{% extends 'publisher/register.html' %} {% block nav %} {% endblock nav %} {% block main %} {% if message %} {{message}} {% endif %}
<form action="{% url 'login:loginView' %}" method="post" id="loginForm">
    {% csrf_token %}
    <div class="loginform">
        {{form}}
        <input type="submit" id="loginButton" value="Login">
    </div>
</form>
<p><a href="{% url 'password_reset' %}">Forgot Password</a></p>
{% endblock main %} {% block footer %}
<footer style="position:relative; margin-top:193px">
    <p id="footer"> Copyright &copy; <span id="footerdate" style="padding: 0%"></span>. All rights reserved. Illumepedia.com <br /> Designed by Emeka Onwuepe. </p>
</footer>
{% endblock footer %}