{% extends 'publisher/register.html' %} {% block nav %}
<form action="{% url 'login:loginView'%}" method="get">
    {% csrf_token %}
    <button type="submit">LOGIN</button>
</form> {% endblock nav %} {% block main %} {% if message %} {{message}} {% endif %}
<p style="color:green">An email has been sent to your email address with instructions to reset your password</p>
{% endblock main %} {% block footer %}
<footer style="position:relative; margin-top:193px">
    <p id="footer"> Copyright &copy; <span id="footerdate" style="padding: 0%"></span>. All rights reserved. Illumepedia.com <br /> Designed by Emeka Onwuepe. </p>
</footer>
{% endblock footer %}