{% extends 'publisher/register.html' %} {% block nav %}
    <form action="{% url 'login:loginView'%}" method="get">
        {% csrf_token %}
        <button type="submit">LOGIN</button>
    </form>{% endblock nav %} {% block main %} {% if message %} {{message}} {% endif %}
    <form method="post" id="loginForm">
        <p class="help">Please, enter your email to reset password</p>
        {% csrf_token %} {{form}}
        <input type="submit" id="loginButton" value="Reset">
    </form>
    {% endblock main %} {% block footer %}
    <footer style="position:relative; margin-top:193px">
        <p id="footer"> Copyright &copy; <span id="footerdate" style="padding: 0%"></span>. All rights reserved. Illumepedia.com <br /> Designed by Emeka Onwuepe. </p>
    </footer>
    {% endblock footer %}