{% extends 'publisher/register.html' %} {% block nav %}
<form action="{% url 'login:loginView'%}" method="get">
    {% csrf_token %}
    <button type="submit">LOGIN</button>
</form> {% endblock nav %} {% block main %} {% if message %} {{message}} {% endif %}
<p style="color:green">Password reset complete</p>
<p style="color:green">password has been set. You may go ahead and log in now.</p>
{% endblock main %} {% block footer %}
<footer style="position:relative; margin-top:193px">
    <p id="footer"> Copyright &copy; <span id="footerdate" style="padding: 0%"></span>. All rights reserved. Illumepedia.com <br /> Designed by Emeka Onwuepe. </p>
</footer>
{% endblock footer %} C:\Users\USER\DjangoPro\Magazine\login\templates\login\login\password_reset_complete.html