{% extends 'publisher/register.html' %} {% block nav %}

<form action="{% url 'publisher:editView' user.username article.id %}" method="post">
    {% csrf_token %}
    <button type="submit">Edit</button>
</form>
<form action="{% url 'login:logoutView' %}" method="post">
    {% csrf_token %}
    <button type="submit">Sign Out</button>
</form>
{% endblock nav %} {% block main %}
<article class="article" style="margin-top: 135px">
    {% if messages %} {% for message in messages %}
    <p style="color: green">{{ message }}</p>
    {% endfor %} {% endif %}
    <h1 id="mainHeading" style="padding-bottom: 30px">{{article.title}}</h1>
    {% if article.image %}
    <figure class="">
        <img src="{{article.image.url}}" alt="">
        <figcaption><em>Image Source: {{article.image_source}}</em></figcaption>
    </figure>
    {% endif %}
    <section>
        {% if article.sub_heading %}
        <h2 class="">{{article.sub_heading}}</h2>
        {% endif %} {{article.body_text|safe}}
    </section>
    {% for section in sections %}
    <section>
        <h2>{{section.sub_heading}}</h2>
        {% if section.Sub_section_image %}
        <figure style="margin-bottom: 10px;" class="">
            <img src="{{section.Sub_section_image.url}}" alt="">
            <figcaption><em>Image Source: {{section.image_source}}</em></figcaption>
        </figure>{% endif %} {{section.body_text|safe}}
    </section>
    {% endfor %} 

    <p class="pub_date">Date of Publication: {{article.mod_date}}</p>

    <a target="blank" href="{% url 'frontview:articleView' article.id article.title_slug %}">VIEW IN MAIN SITE</a>
    {% if article.publish %}
    <form action="{% url 'publisher:articleWithdrawView' article.id %}" method="post">
        {% csrf_token %}
        <button class="submitButton publishButton" type="submit" onclick="return
            confirm('Are you sure you want to withdraw this article ?')">Withdraw</button>
    </form>
    
    {% else %} {% if form %} 
    <div class="publishbox">
        <form action="{% url 'publisher:publishView' article.id article.title_slug %}" method="post">
            {% csrf_token %} {{form}}
            <button class="submitButton publishButton" type="submit">Publish</button>
        </form>
    </div>
    {% endif %} {% endif %}
</article>
<script>
    hidePublishButton()

    function hidePublishButton() {
        let checkBox = document.querySelector("#id_publish")
        let button = document.querySelector(".publishButton")
        if (checkBox.checked) {
            button.disabled = false
            button.style.backgroundColor = "#0978c6"
        } else {
            button.disabled = true
            button.style.backgroundColor = "gray";
        }
        checkBox.addEventListener("change", () => {
            if (checkBox.checked) {
                button.disabled = false
                button.style.backgroundColor = "#0978c6"
            } else {
                button.disabled = true
                button.style.backgroundColor = "gray";
            }
        })

    }
</script>
{% endblock main %}