{% extends 'publisher/register.html' %} {% block nav %}
<form action="{% url 'login:logoutView' %}" method="post">
    {% csrf_token %}
    <button type="submit">Sign Out</button>
</form>

{% endblock nav %} {% block main %}
<strong><p >{{section}}</p></strong> {% if article %}
<p style="padding:10px 20px 0px 10px">You have written {{article|length}} post{{article|pluralize}}.</p>
{% else %}
<p>You have not made any post in this section.</p>
{% endif %}

<ol class="list_items">
    {% for article in article %}
    <div class="items">
        <div class="innerItem">
            <li>
                <span><strong>{{article}}</strong></span>
            </li>
            <div class="buttons1">
                <form action="{% url 'publisher:editView' user.username article.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit">Edit</button>
                </form>
                <form action="{% url 'publisher:articlePublisherView' article.id article.title_slug %}" method="post">
                    {% csrf_token %}
                    <button type="submit">View</button>
                </form>

                <form action="{% url 'publisher:articleDeleteView' article.id  %}" method="post">
                    {% csrf_token %}
                    <button type="submit" onclick="return confirm('Are you sure you want to delete this article ?')">Delete</button>
                </form>
            </div>
            {% if article.publish and article.still_open %}
            <span>Published and still open</span>
            <div class="buttons2">
                <form action="{% url 'publisher:close' article.id 'close' %}" method="post">
                    {% csrf_token %}
                    <button type="submit" onclick="return confirm('Are you sure you want to close this applications ?')">Close</button>
                </form>
                <form action="{% url 'applications:applications' article.id  %}" method="post">
                    {% csrf_token %}
                    <button type="submit">Applications</button>
                </form>
                <form action="{% url 'publisher:articleWithdrawView' article.id  %}" method="post">
                    {% csrf_token %}
                    <button type="submit" onclick="return confirm('Are you sure you want to withdraw this application ?')">Withdraw</button>
                </form>
            </div>
            {% elif article.publish and not article.still_open %}
            <span>Published and closed</span>
            <div class="buttons2">
                <form action="{% url 'publisher:close' article.id 'open' %}" method="post">
                    {% csrf_token %}
                    <button type="submit" onclick="return confirm('Are you sure you want to open this applications ?')">Open</button>
                </form>
                <form action="{% url 'applications:applications' article.id  %}" method="post">
                    {% csrf_token %}
                    <button type="submit">Applications</button>
                </form>
                <form action="{% url 'publisher:articleWithdrawView' article.id  %}" method="post">
                    {% csrf_token %}
                    <button type="submit" onclick="return confirm('Are you sure you want to withdraw this application ?')">Withdraw</button>
                </form>
            </div>
            {% else %}
            <span>Unpublished</span> {% endif %}
        </div>
    </div>
    {% endfor %}
</ol>
{% endblock main %}