{% extends 'publisher/register.html' %} {% block nav %}
<form action="{% url 'publisher:controlView' user.username %}" method="post">
    {% csrf_token %}
    <button type="submit">Control View</button>
</form>
<form action="{% url 'login:logoutView' %}" method="post">
    {% csrf_token %}
    <button type="submit">Sign Out</button>
</form>
{% endblock nav %} {% block main %}
<strong>
    <p> Welcome {{user.first_name}} {{user.last_name}}.</p>
</strong>
<p style="color:red;padding:10px">Your account have not been approved and you wouldn't be able to create any article. You will be notified via email once it has been approved</p>
<form action="" method="post">
    <fieldset style="margin-top: 20px">
        <legend>CREATE A NEW ARTICLE</legend>
        {% csrf_token %} {% for field in form %}
        <div class="formfield">
            {{field.errors}} {{field.label_tag}} {{field}} {% if field.help_text %}
            <p class="help">{{field.help_text|safe}}</p>
            {% endif %}
        </div>
        {% endfor %}
        <input class="submitButton" disabled type="submit" value="create">
    </fieldset>
</form>
{% endblock main %}